<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP App</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="https://jaguilarweb.com/images/logo_JA.png">
            </div>
        </header>
        <main>
            <section>
                <h1>Natural Language Processing (NLP) on articles or blogs</h1>
                <p> This is a web tool that allows users to run Natural Language Processing (NLP) on articles or blogs found on other websites. This tool will help us classify the information available in the article, like whether the content is subjective (opinion) or objective (fact-based) and whether it is positive, neutral, or negative in tone.</p>
            </section>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="url" name="input" value="" placeholder="https://example.com/news-or-articles" pattern="https://.*" required>
                    <input type="submit" class="submitBtn" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>
            <section>
                <h2>Overview:</h2>
                <div id="card" class="card">
                </div>
                <h2>Details:</h2>
                <div id="results"></div>
            </section>
        </main>
        <footer>
            <p>@2021 jaguilarweb</p>
        </footer>
        <script>
            //Reference: https://knowledge.udacity.com/questions/399884
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {navigator.serviceWorker.register('/service-worker.js')
                .then(registration => {
                    console.log('SW registered successfuly: ', registration); });
                });
            }else{
              console.log("Service Working not supported");
            }
        </script>
    </body>
</html>
