@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400&display=swap');
// Colors
$color-dark: #000;
$color-grey-dark: #525050;
$color-grey: #cecece;
$color-brand: #ac35a2;
$font-secondary-color: #fff;

// Text
$font-general: 'Exo 2', sans-serif;

