@import"_variables.scss";

body {
    font-family: $font-general;
    h1 {
        color: $color-brand;
        font-size: 25px;
        margin-bottom: 5px;
    }
    h2 {
        color: $color-brand;
        font-weight: bold;
    }
    p {
        line-height: 20px;
    }
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    main {
        flex: 2;
        section {
            color: $color-grey-dark;
            max-width: 800px;
            margin: 50px auto;
        }
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    span {
        color: $color-grey-dark;
        font-weight: bold;
    }
  }

.result-api{
    background-color: $color-dark;
    color: #cecece;
    border:  5px solid $color-brand;
    font-family: $font-general;
    line-height: normal;
}
